
.container {
    width: 80%;
    max-width: 900px; 
    max-height: 1200px;
    min-height: 700px;
    margin: 90px auto; 
    background: white; 
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}


h2 {
    color: #333;
    margin-bottom: 15px;
}

h3 {
    margin-top: 20px;
    color: #444;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}


a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-position: inside; 
    padding-left: 0; 
    margin-left: 20px; 
}

